body{
    background:black;
}
body .bg-dark{
    background-color: black !important;
    border-bottom:4px double white;
}

/**--------Buttons-------**/

.btn-action{
    color:white;
    background: #8e1c1e; /* Old browsers */
    background: -moz-linear-gradient(top,  #8e1c1e 2%, #d8292c 80%, #ba1d20 85%, #e57b7d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #8e1c1e 2%,#d8292c 80%,#ba1d20 85%,#e57b7d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #8e1c1e 2%,#d8292c 80%,#ba1d20 85%,#e57b7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e1c1e', endColorstr='#e57b7d',GradientType=0 ); /* IE6-9 */
    width:100%;
}
.btn-action:hover{
    color:white;
}
.btn-action:focus{
    box-shadow: 0 0 3px 0 white;
}
.row{
    margin:0;
}


.BadgeFooter{
    background:black;
    color:white;
    margin-top:50px;
    border-top:4px double white;
    padding:20px 0;
    width:100%;
}
.BadgeFooter .text-center{
    margin:0 auto;
    max-width:60%;
}

.BadgeFooter .text-center p{
    font-size:14px;
}